.room-suggestion {
  border: 1px outset;
  /* border-style: ; */
  margin: 2px;

  background-color: ghostwhite;
}

.room-suggestion-img-container {
  padding: 0;
  margin: 0;
}

.room-suggestion-room-stats-container {
  padding: 4px;

  box-sizing: border-box;
}

.room-suggestion-room-description-container {
  padding: 4px;

  box-sizing: border-box;
}

.room-suggestion img {
  max-width: 100%;
  height: auto;
  margin: 0px;
}
