.search-result {
  border: 1px outset;
  /* border-style: ; */
  margin: 2px;

  background-color: ghostwhite;
}

.search-result-img-container {
  padding: 0;
  margin: 0;
}

.search-result-room-stats-container {
  padding: 4px;

  box-sizing: border-box;
}

.search-result-room-description-container {
  padding: 4px;

  box-sizing: border-box;
}

.search-result img {
  max-width: 100%;
  height: auto;
  margin: 0px;
}
